
.bg-green{
    background-color: #04aa6d !important;
}

.navbar{
    padding: 0px 0px !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 600;
    border-right: 1px solid;
    padding: 8px 18px !important;
}

.category-heading{
    padding:10px 12px;
    border-left:6px solid #000;
    background-color: #ddd;
}

.post-heading{
    font-size: 26px;
    color:#000;
}

.owl-nav button.owl-next,
.owl-nav button.owl-prev {
    color : #fff !important;
    margin-left: 10px;
    background-color: rgba(5, 199, 248, 0.103) !important;
    border: none !important;
    outline: none !important;
    font-size: 20px !important;
    height: 28px;
    width: 38px !important;
}

.underline {
    height: 3px;
    width: 60px;
    background-color: #e71212 !important;
    margin-bottom: 10px;
    
}

.bg-gray {
    background-color: #ddd;
}

.post-description {
    overflow-y: scroll;
    scrollbar-width: none;
}

.post-code-bg {
    width: fit-content;
    min-width: 100%;
    background-color: #212121 !important;
    width: 100% !important;
    overflow-x: scroll !important;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}